<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <script src="//maps.google.com/maps/api/js?key=AIzaSyB_F1CnN0RgU3SbH-j6Mr3LehaB5Sr-DBE&sensor=false"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script src="{% static "test_query/GeoJSON.js" %}"></script>
        <script src="{% static "test_query/app.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="/static/test_query/style.css">
    </head>
    <body onload='initialize()'>
        <div id="map-wrapper">
            <div id="map-canvas"></div>
        </div>
        <div id="side-wrapper">
            <button type="button" id="clear">clear</button>
            <div id="report">
                ain't nothin here yet...
            </div>
        </div>
    </body>
</html>
