<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyB_F1CnN0RgU3SbH-j6Mr3LehaB5Sr-DBE&sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script src="/static/test_query/app.js"></script>
<link rel="stylesheet" type="text/css" href="/static/test_query/style.css">

</head>
<body onload='initialize()'>
    <div id="map"></div>
    <div id="result"><span>What Country?</span></div>
</body>
</html>
